
.container {
  width: 70%;
  margin: auto;
  text-align: center;
}
.dice {
  text-align: center;
  display: inline-block;
}
body {
  background-color:#fff;
  font-family: 'Potta One', cursive;
}
h1 {
  margin: 30px;
  text-shadow: 5px 0 #232931;
  font-size: 6rem;
  color: #337CA0;
}
p {
  font-size: 2rem;
  color: #337CA0;
}
img {
  width: 80%;
}
footer {
  margin-top: 5%;
  color:  #337CA0;
  text-align: center;
  font-size:40px;
}
