@import url("https://fonts.googleapis.com/css2?family=Laila:wght@500;700&display=swap");

* {
  margin: 0;
  padding: 0;
  font-family: "Laila", sans-serif;
  font-weight: 500;
  text-decoration: none;

  /*colors:
text: FDF9FF 
subtext: F0EAF3
background: CBC0DC
box fill: EFD3D7 (rose gold)
stroke, boxes: 8E9AAF (dark grey)
light pink: FEEAFA
dark green: 344E41
light green: 588157
brown: 49393B
*/
}

/* scrollbarrrr */
/* width */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #888;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #efd3d7;
}

/* Handle on hover */
/* ::-webkit-scrollbar-thumb:hover {
  background: #efd3d7;
} */

body {
  background-color: #cbc0dc;
  color: #fdf9ff;
}

/* Home page */
/* navigation bar */

#navbar {
  background-color: #efd3d7;
  color: #41403e;
  width: 98%;
  height: auto;
  padding: 2px;
  margin-left: 20px;
  margin-top: 15px;
  position: fixed;
  border-radius: 15px 255px 255px 15px 15px 255px 225px 15px;
  border-style: solid;
  border-width: 2px;
  box-shadow: rgba(0, 0, 0, 0.2) 15px 28px 25px -18px;
  box-sizing: border-box;
  transition: all 235ms ease-in-out;
  border-bottom-left-radius: 15px 255px;
  border-bottom-right-radius: 225px 15px;
  border-top-left-radius: 255px 15px;
  border-top-right-radius: 15px 225px;
  z-index: 2;
}

#navbar ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: inline;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

li a {
  display: block;
  color: #fdf9ff;
  text-align: center;
  padding: 10px 20px;
  text-decoration: none;
  font-size: 25px;
}

li a:hover {
  color: #41403e;
  font-weight: 700;
  cursor: pointer;
}

/* social media buttons */

.socials {
  position: fixed;
  list-style: none;
  top: 40%;
  left: 1%;
  cursor: pointer;
}
.socials img {
  width: 30px;
  height: auto;
}

/* about me page */
/* logo */

.logo {
  position: absolute;
  width: 535px;
  height: auto;
  left: 35%;
  top: 23%;
  
}

/* about me page, profile pic */
.profilepic {
  position: absolute;
  z-index: 1;
  height: 25rem;
  width: 30%;
  left: 10%;
  top: 20%;
}

.IC-image {
  display: block;
  z-index: -1;
  width: 100%;
  height: auto;
}
.overlay {
  position: absolute;
  height: 100%;
  width: auto;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  opacity: 0;
  transition: 0.3s ease;
  background-color: #cbc0dc;
  border-top: 30px solid #cbc0dc;
  border-bottom: 230px solid #cbc0dc;
}
.profilepic:hover .overlay {
  opacity: 1;
}
.profilepicreveal {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  transform: translate(0 100%);
  -ms-transform: translate(0, 100%);
  height: auto;
  width: 100%;
}

/* paragraph */
.about-me {
  position: absolute;
  top: 15%;
  right: 5%;
  bottom: 1%;
  color: #41403e;
  font-size: 20px;
  width: 50%;
  text-align: justify;
  margin: 10px;
  z-index: 1;
}

.about-me p{
  width: 100%;
}


/* contact me page */
.contactme-form {
  border-radius: 5px;
  background-color: #efd3d7;
  color: #41403e;
  padding: 10px;
  display: flex;
  z-index: 1;
  flex-direction: column;
  justify-content: space-evenly;
  position: absolute;
  top: 18%;
  right: 6%;
  width: 40%;
}

input[type="text"],
select,
textarea {
  width: 100%;
  padding: 10px;
  border: 1px solid #fdf9ff;
  border-radius: 10px;
  box-sizing: border-box; /* Make sure that padding and width stays in place */
  margin-top: 6px;
  margin-bottom: 16px;
  resize: vertical; /* Allow the user to vertically resize the textarea (not horizontally) */
}

/* Style the submit button with a specific background color etc */
input[type="submit"] {
  background-color: #8e9aaf;
  color: #fff;
  padding: 12px 20px;
  border: 2px solid #8e9aaf;
  border-radius: 10px;
  cursor: pointer;
  font-size: 20px;
}

/* When moving the mouse over the submit button, add a darker green color */
input[type="submit"]:hover {
  background-color: #cbc0dc;
}

.contact-me-plant {
  object-fit: absolute;
  left: 5%;
  width: 50%;
  height: 30%;
  top: 35%;
  margin: 7%;
  z-index: -1;
}

/* skills page */
.skills-bigdiv {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  z-index: -1;
  padding-top: 10%;
}

.skills {
  display: inline-block;
  margin: 30px;
}

.skills h3 {
  background-color: #efd3d7;
  border-radius: 15px 225px 255px 15px 15px 255px 225px 15px;
  border-style: solid;
  border-width: 2px;
  box-shadow: rgba(0, 0, 0, 0.2) 15px 28px 25px -18px;
  box-sizing: border-box;
  color: #41403e;
  font-size: 40px;
  cursor: pointer;
  outline: none;
  padding: 0.75rem;
  margin: 25px;
  text-decoration: none;
  flex-wrap: wrap;
  transition: all 235ms ease-in-out;
  border-bottom-left-radius: 15px 255px;
  border-bottom-right-radius: 225px 15px;
  border-top-left-radius: 255px 15px;
  border-top-right-radius: 15px 225px;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

.skills-list {
  background-color: #efd3d7;
  border-radius: 15px 225px 255px 15px 15px 255px 225px 15px;
  border-style: solid;
  border-width: 2px;
  box-shadow: rgba(0, 0, 0, 0.2) 15px 28px 25px -18px;
  box-sizing: border-box;
  color: #41403e;
  cursor: pointer;
  outline: none;
  font-size: 20px;
  padding: 10px;
  margin-left: 70px;
  text-decoration: none;
  transition: all 235ms ease-in-out;
  border-bottom-left-radius: 15px 255px;
  border-bottom-right-radius: 225px 15px;
  border-top-left-radius: 255px 15px;
  border-top-right-radius: 15px 225px;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

.skills-list:hover {
  box-shadow: rgba(0, 0, 0, 0.3) 2px 8px 8px -5px;
  transform: translate3d(0, 2px, 0);
}

.skills-list:focus {
  box-shadow: rgba(0, 0, 0, 0.3) 2px 8px 4px -6px;
}

.skills-list {
  list-style: none;
}

.img-skills {
  width: 600px;
  height: auto;
}

/* projects page - gallery */

.gallery {
  top: 15%;
  left: 10%;
  width: 80%;
  position: absolute;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-content: center;
  align-items: center;
  z-index: -1;
}

.gallery img {
  width: 300px;
  height: 250px;
}

.row1,
.row2 {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.project:hover {
  border: 1px solid #777;
}

.project img {
  align-items: center;
}

.desc {
  padding: 10px;
  text-align: center;
  font-size: 25px;
}

.project {
  display: flex;
  flex-direction: column;
}

/* buttons appearance and position */
.project-btn {
  display: flex;
  justify-content: space-evenly;
}
.button {
  background-color: #e0a6a8;
  background-image: none;
  background-position: 0 90%;
  background-repeat: repeat no-repeat;
  background-size: 4px 3px;
  border-radius: 15px 225px 255px 15px 15px 255px 225px 15px;
  border-style: solid;
  border-width: 2px;
  box-shadow: rgba(0, 0, 0, 0.2) 15px 28px 25px -18px;
  box-sizing: border-box;
  color: #fdf9ff;
  cursor: pointer;
  display: inline-block;
  font-size: 20px;
  font-weight: 500;
  line-height: 23px;
  outline: none;
  padding: 0.75rem;
  text-decoration: none;
  transition: all 235ms ease-in-out;
  border-bottom-left-radius: 15px 255px;
  border-bottom-right-radius: 225px 15px;
  border-top-left-radius: 255px 15px;
  border-top-right-radius: 15px 225px;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}
.button:hover {
  box-shadow: rgba(0, 0, 0, 0.3) 2px 8px 8px -5px;
  transform: translate3d(0, 2px, 0);
}
.button:focus {
  box-shadow: rgba(0, 0, 0, 0.3) 2px 8px 4px -6px;
}

/* media queries example */
@media only screen and (max-width: 700px) {
  .logo,
  .profilepicreveal,
  .IC-image,
  .contact-me-plant
   {
    width:60%;
    height: auto;
  }

  .about-me {
   width: 40%;
  }
}
